<div class="container-dashbox-page">
  <div class="create-button">
    <%= link_to "new itinerary", "/itineraries/new", class: "btn btn-primary" %>
  </div>


  <div class="dashboard-page-grid-container">
    <% @myitineraries.each do |itinerary| %>
        <%= render partial: "shared/itinerarydashboardcard", locals: {itinerary: itinerary} %>
    <% end %>

  </div>



</div>
