<%# <div class="background_index" style="background-image:url('https://pbs.twimg.com/media/FgR3lN1XoAE7HhY?format=jpg&name=4096x4096')"> %>
<%# <div class="backdrop_cover"> %>
<%# <div class="index_container-dashbox-page">
      <div class="index_completed_container"> %>
<div class="gallery-container">
  <h1 class="gallery_h1">Gallery</h1>
  <div class="container">
    <div class="gallery-grid">
      <% @reviews.each do |review| %>
        <% unless review.photo.key.nil? %>
          <div class="gallery-card-container">
            <%= cl_image_tag review.photo.key, class:"gallery-image"%>
          </div>
        <% end %>
      <% end %>
      <% @itinerary.photos.each do |photo| %>
        <div class="gallery-card-container">
          <%= cl_image_tag photo.key, class:"gallery-image"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<%# <form action="">
          <button class="testha" type="submit"> complete </button>
        </form> %>
<%# </div>
    </div> %>
<%# </div> %>
<%# </div> %>
