<div class="home-banner">
  <div class="home-container">
    <div class="title-content">
      <h1>Hello</h1>
      <h1>World!</h1>
      <p>And so I cry sometimes when I'm lying in bedJust to get it all out what's in my headAnd I, I'm feeling a little peculiarAnd so I wake in the morning and I step outsideAnd I take a deep breath and get real highAnd I scream from the top of my lungsWhat's goin' on?And I say hey, yeah, yeah, yeah yayHey, yay, yayI said hey, what's goin' on? </p>
    </div>
    <div class="home-action">
      <%= link_to 'Create itinerary', new_itinerary_path, class:"home-action-text" %>
      <h3></h3>
      <%= link_to 'Browse itinerary', new_itinerary_path, class:"home-action-text" %>
    </div>
  </div>
</div>
