<div class="background_index">
  <div class="index_2">

    <div class="container-dashbox-page">
      <div class="completed_container">
        <h1>All itineraries</h1>
        <div class="dashboard-page-grid-container">
          <% @allcompleted.each do |itinerary| %>
              <%= render partial: "shared/itinerarycard", locals: {itinerary: itinerary} %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="footer-container">
      <%= render "shared/footer" %>
    </div>

    </div>
  </div>

</div>
