
<div class="plan-main-container">
<div class="grid-container">
  <div class="banner-container">dede
    dsfdfd
    fdfdfd
    fdfd
  </div>
  <div class="side-bar">
    <div class="days-container">
     <%= render "itineraries/sidebar_activity", locals: {activity: @activities,dates: @dates} %>
    </div>
    <div class="side-bar-bottom">
      <button>Back to dashboard</button>
      <button>Complete</button>
    </div>
  </div>
  <div data-controller="map"
    id='map'
    class="map-container"
    data-map-center-value="<%= @center.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-geojson-value="<%= @geodata_json %>">
  </div>
</div>
</div>
