<div class="container">
  <div class="bannertitle">
    <div class="summary_header" >
      <h1>New Zealand</h1>
      <h5>The 14 days Grand Tour</h5>
      <h6><p>By Tigo' Beaties</p></h6>
    </div>
    <div class="summary_img_banner">
      <img
        src="https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
        alt="User Trip Photo"
      />
    </div>
  </div>

  <div class="summary_body">
    <div class="user_notes">
      <h3>Creator Notes</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis hendrerit dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam non dolor lectus. Aliquam convallis finibus fringilla. Sed malesuada augue eu eleifend volutpat. Vestibulum ut rhoncus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam ac nisi in quam pretium egestas quis ornare enim. Integer nec elit arcu. Aenean volutpat neque quam, at elementum tellus commodo vel.</p>
    </div>
    <div class="tips_tricks">
      <h3>Tips and Tricks</h3>
      <p>Lots of driving involved, would suggest this for people who love driving. Highly suggest yall book your ski lift pass before the seasons to save some money!</p>
    </div>
    <div class="proscons">
      <h3>Pros and Cons</h3>
      <p>Extremely scenic but not child friendly. Very few things for kids to do. </p>
    </div>
  </div>


  <div class="activity_container">
    <h3>Daily Activities</h3>
    <p>Day 1</p>
    <div class="daily_activity">
      <div class="place_thumbnail">
        <img src="https://www.newshub.co.nz/home/lifestyle/2019/01/tips-for-safe-and-exciting-new-zealand-camping-over-the-summer-break/_jcr_content/par/image.dynimg.full.q75.jpg/v1546993217423/Freedom_Camping_1200.jpg" alt="thumbnail">
      </div>
      <div class="place_summary">
        <h4>Description</h4>
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis hendrerit dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam non dolor lectus. Aliquam convallis finibus fringilla. Sed malesuada augue eu eleifend volutpat.</h6>
      </div>
    </div>
  </div>




</div>
