// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$hw-gray-1: #EEEEEE;
$hw-gray-1-hover: #b1afaf;

$hw-gray-2: #F3F3F3;
$hw-gray-2-hover: #b5b5b5;

$hw-gray-3: #C5C5C5;
$hw-gray-3-hover: #868585;

$hw-gray-4: #959595;
$hw-gray-4-hover: #5e5d5d;

$hw-gray-5: #5A5A5A;
$hw-gray-5-hover: #444444;


$hw-bright: rgb(199, 33, 78);
$hw-bright-hover: rgb(211, 58, 99);


$hw-gray-6: #bababa;
