// Specific CSS for your home-page
.home-banner {
  width: 100vw;
  height: 100vh;
  // background-image: url('https://res.cloudinary.com/duadcuueg/image/upload/v1669370391/Hello%20World/5003d452a8da016f3ed02a6385cf54e8_L_msd0gx.jpg'),linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
    url("/assets/main1.jpg");
  background-image: fill;
  background-repeat: no-repeat;
  background-size: 100%;
}

.title-content {
  margin: 120px;
  margin-top: 330px;
  width: 500px;
  // border:red solid 2px;
}

.title-content > h1 {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.948);
}

.title-content p {
  // font-size:5rem;
  color: #878887;
}

.home-action {
  display: flex;
  gap: 40px;
  justify-content: center;
  color: white;
  align-items: center;
}

.home-action h3:nth-child(2) {
  border-right: 2px solid white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-action-text {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.trending-container {
  height: 100vh;
}

.main-text {
  width: min-content;
  color: white;
}

.main-text > h1 {
  font-size: 3.5rem;
}

.text-1 {
  transform: translateX(-120%);
  animation: fly 0.8s ease-in 1s 1 forwards;
  opacity: 0;
}

@keyframes fly {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.text-2 {
  transform: translateX(120%);
  animation: fly 0.8s ease-in 1.5s 1 forwards;
  opacity: 0;
}

@keyframes fly {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.text-1::before {
  content: "";
  background: none;
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 100%;
  border: 3px solid white;
  top: 50%;
  // transform:translateY(-50%);
  left: -30px;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.text-1:hover::before {
  transform: translateY(-50%);
  opacity: 1;
}

.text-2::before {
  content: "";
  background: none;
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 100%;
  border: 3px solid white;
  top: 50%;
  // transform:translateY(-50%);
  right: -30px;
  transform: translateY(-150%);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.text-2:hover::before {
  transform: translateY(-40%);
  opacity: 1;
}

.text-1:hover,
.text-2:hover {
  color: hsla(255, 255, 255, 0.7);
}

.main-text {
  position: absolute;
  top: 175px;
  left: 120px;
}

.country-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  // height:80vh;
}

.country-container-1 {
  // border: 2px solid red;
  height: 80vh;
  width: 90vw;
  display: inline-flex;
  justify-content: space-between;
}

.country-container-1 > img {
  width: fit-content;
  height: fit-content;
  transform: translateX(-200%);
  opacity:0;
  transition: all 0.6s ease-in-out;

}

.country-container-1 > div {
  max-width: 650px;
  transform: translateX(200%);
  opacity:0;
  transition: all 1.3s ease-in-out;
}

.country-container-1 h2 {
  margin-bottom: 3rem;
  margin-top: 2rem;

}

.country-img-1.active{
  transform: translateX(0);
  opacity: 1;
}

.country-container-1 > div.active{
  transform: translateX(0);
  opacity: 1;
}

// COuntry 2

.country-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  // height:80vh;
}

.country-container-2{
  // border: 2px solid red;
  height: 100vh;
  width: 90vw;
  display: inline-flex;
  justify-content: space-between;
}

.country-container-2 > img {
  width: 500px;
  height: fit-content;
  transform: translateX(-200%);
  opacity:0;
  transition: all 0.6s ease-in-out;

}

.country-container-2> div {
  max-width: 650px;
  transform: translateX(200%);
  opacity:0;
  transition: all 1.3s ease-in-out;
}

.country-container-2 h2 {
  margin-bottom: 3rem;
  margin-top: 9rem;

}

.country-img-2.active{
  transform: translateX(0);
  opacity: 1;
}

.country-container-2 > div.active{
  transform: translateX(0);
  opacity: 1;
}

// COuntry 3

.country-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  // height:80vh;
}

.country-container-3{
  // border: 2px solid red;
  height: 100vh;
  width: 90vw;
  display: inline-flex;
  justify-content: space-between;
}

.country-container-3 > img {
  width: 700px;
  height: 450px;
  transform: translateX(-200%);
  opacity:0;
  transition: all 0.6s ease-in-out;

}

.country-container-3> div {
  max-width: 450px;
  transform: translateX(200%);
  opacity:0;
  transition: all 1.3s ease-in-out;
}

.country-container-3 h2 {
  margin-bottom: 3rem;
  margin-top: 6rem;

}

.country-img-3.active{
  transform: translateX(0);
  opacity: 1;
}

.country-container-3 > div.active{
  transform: translateX(0);
  opacity: 1;
}


.footer-container{
  width:100%;
  height:560px;
  background-color: #212121 ;
  color:white;
}


.btn-footer{
border-radius:5px;
background-color: transparent;
border:2px white solid;
color:white;
padding:10px;
}

.first-line{
  gap:10px;
  //  border: red 2px solid;
   padding-top:20px;
   padding-bottom:20px;
   border-bottom: solid  1px #757575;
}

.second-line{
  // gap:10px;
  //  border: red 2px solid;
   padding-top:20px;
   padding-bottom:10px;
   width:90%;
}

.second-line-col{
  display:flex;
  flex-direction:column;
  flex-grow:1;
  align-self: start;
  font-size:0.9rem;
  margin:0px;
  padding:0px;
}

.third-line{
display:flex;
justify-content: space-between;
align-items: center;
}

.banner-icons{
  display:flex;
  gap:30px;
}

.fourth-line{
  padding-top:50px;
  padding-bottom:10px;
  // border: 2px solid red;
  display:flex;
  justify-content: space-between;
  }
