.phase_buttons{
margin-bottom: 30px;
}

.summary_btn {
  margin-top: 10px;
  margin-right: 0px;
  padding: 5px 15px;
  color: $hw-gray-1;
  background-color: rgb(116, 83, 199);
  // border: 1px solid rgb(76, 76, 76);
  border-radius: 15px;
  font-size: 1.4rem;
}

.summary_btn {
  color: $hw-gray-1;
  background-color: rgb(116, 83, 199);

}

.gallery-link{
color:white !important;
}

.btn-gallery{
  border-radius:100vh;
  border:1px solid black;
  background-color: none;
  }

  .btn-gallery:hover{
    background-color: $hw-gray-3-hover;
  }
