* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_card {
  background: url("https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
  background-position: center;
  background-size: cover;
  // width: 300px;
  height: 420px;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
  border-radius: 8px;

  // .container__info {
  //   bottom: 20%;
  //   display: flex;
  //   align-items: flex-end;
  //   padding: 15px 30px;
  //   color: $bright-color;
  //   span {
  //     margin-right: 200px;
  //   }
  //   i {
  //     margin-right: 10px;
  //   }
  // }

  .container__profile {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    padding: 10px;
    @include bottom();
    bottom: 0px;
    height: 150px;
    margin-top: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
      margin-right: 10px;
    }
    h2 {
      color: #334454;
      font-size: 1.3rem;
      font-weight: bold;
    }
    p {
      color: #a1b2bc;
      font-size: 0.8rem;
    }
    p b {
      font-style: italic;
    }
    h6 {
      color: #334454;
      font-size: 0.9rem;
    }
  }
}

.container__profile__text {
}



.button-74 {
  background-color: #ffffff;
  border: 1.5px solid #422800;
  border-radius: 30px;
  color: #422800;
  cursor: pointer;
  // display: inline-block;
  font-weight: 40;
  font-size: 14px;
  padding: 0 15px;
  line-height: 20px;
  text-align: center;
  // text-decoration: none;
  // user-select: none;
  // -webkit-user-select: none;
  // touch-action: manipulation;
  justify-content: space-evenly;
}

.button-75 {
  background-color: #ffffff;
  // border: 2px solid #422800;
  border-radius: 30px;
  color: #422800;
  cursor: pointer;
  // display: inline-block;
  font-weight: 40;
  font-size: 14px;
  padding: 0 15px;
  line-height: 20px;
  text-align: center;
  // text-decoration: none;
  user-select: none;
  // -webkit-user-select: none;
  // touch-action: manipulation;
  justify-content: space-evenly;
}

.container_buttons {
  justify-content: space-between;
  // width: 300px;
}

.dashboard-page-grid-container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:20px;
}

.container-dashbox-page{
  width:80vw;
  height: 80vw;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  // border:2px red solid;
}

.no_border {
  border: none;
}
