

.show-summary-left {
  margin-top: 30px;
  width: 72%;
}

.show-summary-right {
  width: 28%;
  // height:500px;
  // border:2px solid red;
}

.show-main-summary-container {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}

.show-map{
  width:93%;
  height:650px;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  margin-left: auto;
  margin-bottom: 50px;
  // border: 1px solid white;
}
.show-map-container{
  display: flex;
  position:sticky;
  top:0;
  align-self: flex-start;
}
