.phase_buttons{
margin-bottom: 30px;
width: 100%;
// border: 2px solid red;
text-align: right;
}

.summary_btn {
  margin-top: 20px;
  padding: 8px 30px;
  color: $hw-gray-1;
  background-color: rgb(127, 73, 203);
  // border: 1px solid rgb(76, 76, 76);
  border: none !important;
  border-radius: 13px;
  font-size: 1.4rem;
}

.summary_btn:hover {
  background-color: rgb(101, 41, 186);
}


.gallery-link{
  color:white !important;
}

.btn-gallery{
  border-radius:100vh;
  border:1px solid black;
  background-color: none;
  }

  .btn-gallery:hover{
  background-color: $hw-gray-3-hover;
  }
