.background_index{
  background-image: url("https://pbs.twimg.com/media/FgR3lN1XoAE7HhY?format=jpg&name=4096x4096");
  z-index: 0;
  width: 100vw;
  height: 100vh;

}


.index_2 {
  z-index: 2;
  margin:0 auto ;
  width: 90vw;
  height: 30vh;

  background-color: gray;
}
