
<div class="container">
  <div class="first-line d-flex align-items-center">
    <h5>Create your itineraries.</h5>
    <button class="btn-footer">Get started</button>
  </div>
  <div class="second-line d-flex align-items-center">
    <div class="second-line-col">
      <p>Your Account</p>
      <p>Settings</p>
      <p>Log out</p>
      <p>Help</p>
      <p>Become an Affiliate</p>
    </div>
    <div class="second-line-col">
      <p>Discover</p>
      <p>Groups</p>
      <p>Calendar</p>
      <p>Topics</p>
      <p>Cities</p>
      <p>Online Places</p>
      <p>Local Guides</p>
    </div>
    <div class="second-line-col">
      <p>Hello World</p>
      <p>About</p>
      <p>Blog</p>
      <p>Meetup Pro</p>
      <p>Careers</p>
      <p>Apps</p>
      <p>Podcast</p>
    </div>
  </div>
  <div class="third-line">
    <div class="third-line-col">
      <p class="py-3">Follow us</p>
      <div class="banner-icons"><i class="fa-brands fa-facebook fa-xl"></i><i class="fa-brands fa-instagram fa-xl"></i><i class="fa-brands fa-twitter fa-xl"></i><i class="fa-brands fa-youtube fa-xl"></i><i class="fa-brands fa-tiktok fa-xl"></i></div>
    </div>
    <div class="third-line-col-2">
      <img src="https://secure.meetupstatic.com/next/images/app-download/android/download_en-US.svg?w=256" alt="">
      <img src="https://secure.meetupstatic.com/next/images/app-download/ios/download_en-US.svg?w=256" alt="">
    </div>
  </div>
  <div class="fourth-line">
    <p>© 2022 Hello World</p>
    <p>Terms of Service</p>
    <p>Privacy Policy</p>
    <p>Cookie Settings</p>
    <p>Cookie Policy</p>
    <p>Help</p>
  </div>
</div>
