

<footer class="page-footer">
<div class="footer-content">
<div class="row ">
<div class="col-2">
<div class="footer-title">
<span class="fw-bold mb-4">
<i class="me-3"></i>Hello World !
</span>
</div>
<br>
<br>
<br>
<ul class="footer-menu-items">
<li>
<a href="#">
About us</a>
</li>
<li>
<a href="#">Partner with us</a>
</li>
<li>
<a href="#">HelloWorld on LinkedIn</a>
</li>
</ul>
</div>

<div class="browse col-2">
<span class="fw-bold mb-4 footer-title">Browse</span>
<br>
<br>
<br>
<br>
<ul class="footer-menu-items">
<li>
<a href="#">Trips by other users</a>
</li>
<li>
<a href="#">Destinations</a>
</li>
<li class="credits">
<a href="#">Credits</a>
</li></ul>
</div>
<div class="help col-2">
<span class="fw-bold mb-4 footer-title">Help</span>
<br>
<br>
<br>
<br>
<ul class="footer-menu-items">
<li class="faq">
<a href="#">FAQ</a>
</li>
<li>
<a href="#">Contact us</a>
</li>
<li>
<a href="#">Privacy policy</a>
</li>
<li>
<a href="#">Cookie policy</a>
</li>
<li>
<a href="#">Copyright policy</a>
</li>
<li>
<a href="#">Terms of use</a>
</li>
</ul>
</div>
<div class="col-3">
<span class="fw-bold mb-4 footer-title">Settings</span>
<br>
<br>
<br>
<br>
<ul class="footer-menu-items">
<li>
<a href="#">Currency:
 <span>Singapore Dollar</span>
 <span>Change</span>
</a>
</li>
<li>
<a href="#">
<span>Language: <span class="language-text">english</span></span>
<span>Change</span>
</a>
</li>
</ul>
</div>
<div class="col-3 social-media">
<div class="group">
<ul class="icons">
<li>
<a href="" class="me-4 text-reset">
 <i class="footer-icon fa-brands fa-facebook"></i>
</a>
<a href="" class="me-4 text-reset">
 <i class="footer-icon fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="footer-icon fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
       <i class="footer-icon fa-brands fa-youtube"></i>
      </a>

    </div>
</footer>
