<div class="d-flex">
  <footer class="page-footer">
    <div class="footer-content">
      <div class="row ">
        <div class="col-2">
          <div class="column1">
            <h6 class="mb-4 me-4">Hello World !</h6>
            <a href="#">
              <p>About us</p>
            </a>
            <a href="#">
              <p>Partner with us</p>
            </a>
            <a href="#">
              <p>HelloWorld on LinkedIn</p>
            </a>
          </div>
        </div>
        <div class="browse col-2">
          <h6 class=" mb-4 me-4"> Browse</h6>
          <a href="#">
            <p>Trips by other users</p>
          </a>
          <a href="#">
            <p>Destinations</p>
          </a>
          <a href="#">
            <p>Credits</p>
          </a>
        </div>
        <div class="help col-2">
          <h6 class=" mb-4 me-4">Help</h6>
          <a href="#">
            <p>FAQ</p>
          </a>
          <a href="#">
            <p>Contact us</p>
          </a>
          <a href="#">
            <p>Privacy policy</p>
          </a>
          <a href="#">
            <p>Cookie policy</p>
          </a>
          <a href="#">
            <p>Copyright policy</p>
          </a>
          <a href="#">
            <p>Terms of use</p>
          </a>
        </div>
        <div class="col-3">
          <h6 class=" mb-4 me-4 ">Settings</h6>
          <a href="#">
            <p>Currency: Singapore Dollar</p>
          </a>
          <a href="#">
            <p>Language: English  Change</p>
          </a>
        </div>
        <div class="col-3 social-media">
          <div class="group">
            <ul class="icons">
              <li>
                <a href="" class="me-4 text-reset">
                  <i class="footer-icon fa-brands fa-facebook"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="footer-icon fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="footer-icon fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                  <i class="footer-icon fa-brands fa-youtube"></i>
                </a>
              </div>
            </div>
          </footer>
        </div>
