.mapboxgl-ctrl-geocoder {
  // max-width: 50px !important;
  width: 40px !important;

  box-shadow: none !important;
  background-color: transparent;
  margin-top: 3px !important;
  margin-bottom:20px;
  margin: auto;
  display: block;
}

.mapboxgl-ctrl-geocoder--input{
  border: 2px solid lightgrey !important;
  // display:block;

}
