.mapboxgl-ctrl-geocoder {
  // max-width: none;
  width: 100%;
  border: 5px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
  display:block;
}

.myform-block{
  display:block;
}
