body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-footer {

  position: sticky;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-top: auto;
  background: black;
  color: white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.footer-icon {
  color: grey;
}

.footer-icon:hover {
  color: white;
}

.page-footer a {
  color: grey ;
  text-decoration: none;
 }

 ul {
  list-style-type: none;
  font-weight: normal;
  font-size: 15px;
  }

  .page-footer a:hover {
    color: white !important;
  }
