$bright-color: #fff;
@mixin bottom {
  position: absolute;
  right: 0;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.try{
// background-color: black;
border: dashed 4px rgb(184, 184, 184);

}

.container_card_dashed {
  // min-width: 800px;
  // height: 420px;
  position: relative;
  // box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
  border: dashed 4px rgb(184, 184, 184);
  border-radius: 8px;
}

.container_card_dashed:hover {
  border: dashed 4px rgb(122, 122, 122);
  .plus_button {
    color: rgb(122, 122, 122);
  }

}

.plus_button {
  text-align: center;
  padding: 173px 0;
  color: rgb(184, 184, 184);
  font-size: 47px;

}

.carousel,
.carousel-item,
.carousel-item.active,
.carousel-inner {
  height: 420px !important;
  width: 100% !important;
  background-position: center;
  background-size: cover;
  // width: 300px;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
  border-radius: 8px;

  .carousel-content {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 5%;
    left: 10%;
    z-index: 20;
    color: $bright-color;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    span {
      margin-right: 200px;
    }
    i {
      margin-right: 10px;
    }
  }


  // .container__info {
  //   bottom: 20%;
  //   display: flex;
  //   align-items: flex-end;
  //   padding: 15px 30px;
  //   color: $bright-color;
  //   span {
  //     margin-right: 200px;
  //   }
  //   i {
  //     margin-right: 10px;
  //   }
  // }

  .container__profile {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    padding: 10px;
    @include bottom();
    bottom: 0px;
    height: 150px;
    margin-top: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
      margin-right: 10px;
    }
    h2 {
      color: #334454;
      font-size: 1.3rem;
      font-weight: bold;
    }
    p {
      color: #a1b2bc;
      font-size: 0.8rem;
    }
    p b {
      font-style: italic;
    }
    h6 {
      color: #334454;
      font-size: 0.9rem;
    }
  }
}

.container__profile__text h2 {
  // padding-top: 20px;
}

.phase {
  position: absolute;
  right: 0;
  top:0;
  padding-top: 6px;
  padding-right: 18px;
}



.button-74 {
  background-color: #ffffff;
  border: 1.5px solid rgba(143, 143, 143, 0.4) !important;
  border-radius: 30px;
  cursor: pointer;
  // display: inline-block;
  font-weight: 40;
  font-size: 14px;
  padding: 0 15px;
  line-height: 20px;
  text-align: center;
  // text-decoration: none;
  // user-select: none;
  // -webkit-user-select: none;
  // touch-action: manipulation;
  justify-content: space-evenly;
}

.button-74:hover {
  background-color: $hw-gray-3-hover;
}

.form_button {
  padding-left: 35px !important;
}

.button-75 {
  background-color: #ffffff;
  border: 1.5px solid rgba(143, 143, 143, 0.4) !important;
  border-radius: 30px;
  color: #422800;
  cursor: pointer;
  // display: inline-block;
  font-weight: 40;
  font-size: 14px;
  padding: 0 15px;
  line-height: 20px;
  text-align: center;
  // text-decoration: none;
  user-select: none;
  // -webkit-user-select: none;
  // touch-action: manipulation;
  // justify-content: space-evenly;

// max-width: 100%;
}

.button-75:hover {
  background-color: $hw-gray-3-hover;
}

.container_buttons {
  // border: 1px solid red;
  margin-left:0;
  max-width: 100%;
  // position:absolute;
  // justify-content: space-between;
  // width: 300px;
}

.dashboard-page-grid-container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:25px;
}

.container-dashbox-page{
  width:80vw;
  height: 80vw;
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  // border:2px red solid;
}

.dash-board-header-container{
  margin-bottom:25px;
}

.dash-board-h1 {
  font-size:4rem;
  margin-bottom:10px;
  color:$hw-gray-5;
}

.dash-board-h1 + div{
  width:90px;
  // height:2px;
  border-top:3px solid $hw-gray-5;
  margin:0 auto;
}

.no_border {
  border: none;
}

.in_plan_container h1 {
  padding-bottom: 25px;
  font-size:2rem;
  color:$hw-gray-5;
}

.completed_container {
  border-top: 2px solid rgb(212, 212, 212);
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 100px;
}

.completed_container h1 {
  padding-bottom: 25px;
  font-size:2rem;
  color:$hw-gray-5;
}

.itinerary-delete{
//  position:absolute;
 color:white;
//  top:0;
}

.itinerary-delete-link{
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  right:-10px;
}
