.marker{
  background-image: url("redmarker");
  background-size: cover;
  height:50px;
  width:50px;
  cursor: pointer;
}

.marker-red{
  background-image: url("redmarker-day");
  background-size: cover;
  height:50px;
  width:50px;
  cursor: pointer;
  // position:relative;
}

.marker-number{
position:absolute;
font-weight: bold;
font-size:1rem;
top:10px;
left:20px;
}

.marker-green{
  background-image: url("greenmarker-day");
  background-size: cover;
  height:50px;
  width:50px;
  cursor: pointer;
  // position:relative;
}

// .toggle-icons{
//   border-radius:100%;
//   width:30px;
//   background-color: white;
//   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//   z-index:1000;
// }

// .marker:hover{
//   background-image: url("redmarker");
//   height:40px;
//   width:40px;
//   transition:all 0.4s ease-in-out;
// }
