.marker{
  background-image: url("redmarker");
  background-size: cover;
  height:50px;
  width:50px;
  cursor: pointer;
}

// .marker:hover{
//   background-image: url("redmarker");
//   height:40px;
//   width:40px;
//   transition:all 0.4s ease-in-out;
// }
